h1,
h2 {
  color: darkgreen;
  font-size: 90px;
  text-transform: uppercase;
  line-height: 1em;
}
.aqua-color {
  color: rgb(111, 28, 49);
}
.background {
  background-color: rgba(166, 255, 182, 0.718);
}
#red-back {
  background-color: rgba(165, 42, 42, 0.494);
}
a {
  color: pink;
  font-weight: bold;
  text-decoration: none;
}
div,
p {
  text-align: justify;
}
